body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 1rem;
}
.title {
  text-align: center;
  color: white;
}
.highlight {
  color: #f8b940;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.form-container, .grafico-container {
  flex: 1;
  padding: 1rem;
}
input, select, button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
button {
  background-color: #28a745;
  color: white;
  border: none;
}
.grafico-container {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.archivio-container {
  margin-top: 2rem;
}